USE [master]
GO
/****** Object:  Database [Agronegocios]    Script Date: 12/10/2020 19:56:13 ******/
CREATE DATABASE [Agronegocios] ON  PRIMARY 
( NAME = N'Agronegocios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Agronegocios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Agronegocios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Agronegocios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Agronegocios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Agronegocios]
GO
/****** Object:  Table [dbo].[Barrios]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrios](
	[id_Barrio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[cod_Postal] [varchar](50) NULL,
	[id_Localidad] [int] NULL,
 CONSTRAINT [PK_Barrios] PRIMARY KEY CLUSTERED 
(
	[id_Barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calidad]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calidad](
	[id_Calidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[habilitado] [varchar](2) NULL,
 CONSTRAINT [PK_Calidad] PRIMARY KEY CLUSTERED 
(
	[id_Calidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente_Proveedor]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_Proveedor](
	[id_Cliente_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[razon_Social] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[cod_Barrio] [int] NULL,
	[id_Tipo] [int] NULL,
	[CUIL_CUIT] [varchar](50) NOT NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Cliente_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id_Cliente_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_de_Facturas]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_de_Facturas](
	[id_Semilla] [int] NOT NULL,
	[tipo_Factura] [char](1) NOT NULL,
	[numero_Factura] [int] NOT NULL,
	[fecha_Entrega] [date] NULL,
	[precio_Venta] [decimal](15, 2) NULL,
	[cantidad] [decimal](14, 4) NULL,
	[subtotal] [decimal](15, 2) NULL,
 CONSTRAINT [PK_Detalles_de_Facturas] PRIMARY KEY CLUSTERED 
(
	[id_Semilla] ASC,
	[tipo_Factura] ASC,
	[numero_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[cod_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[fecha_Alta] [date] NULL,
	[cod_barrio] [int] NULL,
	[calle] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
	[tipo_Empleado] [int] NULL,
	[contraseña] [nchar](8) NULL,
	[usuario] [varchar](8) NULL,
	[borrado] [bit] NULL,
	[telefono] [varchar](50) NULL,
	[numero_casa] [varchar](50) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[cod_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa_Transporte]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Transporte](
	[id_Empresa] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[razon_social] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[id_barrio] [int] NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa_Transporte] PRIMARY KEY CLUSTERED 
(
	[id_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[id_Factura] [int] NOT NULL,
	[tipo_Factura] [char](1) NOT NULL,
	[nro_envio] [int] IDENTITY(1,1) NOT NULL,
	[fecha_Hora_envio] [date] NULL,
	[id_Empresa_Transporte] [int] NULL,
	[direccion] [varchar](50) NULL,
	[id_barrio] [int] NULL,
 CONSTRAINT [PK_Envios] PRIMARY KEY CLUSTERED 
(
	[nro_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[tipo_Factura] [char](1) NOT NULL,
	[numero] [int] IDENTITY(1,1) NOT NULL,
	[fecha_Factura] [date] NULL,
	[total] [decimal](15, 2) NULL,
	[cod_Empleado] [int] NULL,
	[id_cliente_Proveedor] [int] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[tipo_Factura] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forma_PagoXfactura]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forma_PagoXfactura](
	[id_Forma_Pago] [int] NOT NULL,
	[tipo_Factura] [char](1) NOT NULL,
	[numero_Factura] [int] NOT NULL,
	[monto] [decimal](15, 2) NULL,
	[dias_de_Plazo] [int] NULL,
	[id_FormaPagoXfactura] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Forma_PagoXfactura] PRIMARY KEY CLUSTERED 
(
	[id_FormaPagoXfactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formas_Pagos]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formas_Pagos](
	[id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Formas_Pagos] PRIMARY KEY CLUSTERED 
(
	[id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_Localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[id_Provincia] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semilla]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semilla](
	[id_Semilla] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[stock_Minimo] [decimal](10, 2) NULL,
	[stock] [decimal](10, 2) NULL,
	[precio_Tonelada] [decimal](15, 3) NULL,
	[descripcion] [varchar](100) NULL,
	[habilitado] [varchar](2) NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Semilla] PRIMARY KEY CLUSTERED 
(
	[id_Semilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Cliente_Proveedor]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Cliente_Proveedor](
	[id_Tipo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo_Cliente_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Empleados]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Empleados](
	[id_tipo_Empleado] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo_Empleados] PRIMARY KEY CLUSTERED 
(
	[id_tipo_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Semilla]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Semilla](
	[id_Tipo_Semilla] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[habilitado] [varchar](2) NULL,
 CONSTRAINT [PK_Tipo_Semilla] PRIMARY KEY CLUSTERED 
(
	[id_Tipo_Semilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposXsemillas]    Script Date: 12/10/2020 19:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposXsemillas](
	[id_Semilla] [int] NOT NULL,
	[id_Tipo_Semilla] [int] NOT NULL,
	[id_Calidad] [int] NOT NULL,
	[precio_sugerido] [decimal](15, 3) NULL,
 CONSTRAINT [PK_TiposXsemillas] PRIMARY KEY CLUSTERED 
(
	[id_Semilla] ASC,
	[id_Tipo_Semilla] ASC,
	[id_Calidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Barrios] ON 

INSERT [dbo].[Barrios] ([id_Barrio], [nombre], [cod_Postal], [id_Localidad]) VALUES (1, N'Cordoba I', N'5000', 1)
INSERT [dbo].[Barrios] ([id_Barrio], [nombre], [cod_Postal], [id_Localidad]) VALUES (2, N'Cordoba II', N'5001', 1)
INSERT [dbo].[Barrios] ([id_Barrio], [nombre], [cod_Postal], [id_Localidad]) VALUES (3, N'Cruz del Eje I', N'5002', 2)
SET IDENTITY_INSERT [dbo].[Barrios] OFF
GO
SET IDENTITY_INSERT [dbo].[Calidad] ON 

INSERT [dbo].[Calidad] ([id_Calidad], [nombre], [habilitado]) VALUES (39, N'Excelente', N'si')
INSERT [dbo].[Calidad] ([id_Calidad], [nombre], [habilitado]) VALUES (40, N'Muy Bueno', N'si')
INSERT [dbo].[Calidad] ([id_Calidad], [nombre], [habilitado]) VALUES (41, N'Malo', N'si')
SET IDENTITY_INSERT [dbo].[Calidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente_Proveedor] ON 

INSERT [dbo].[Cliente_Proveedor] ([id_Cliente_Proveedor], [nombre], [apellido], [razon_Social], [email], [telefono], [cod_Barrio], [id_Tipo], [CUIL_CUIT], [borrado]) VALUES (12, N'Facundo', N'Paz Fessia', N'Agronegocios S.A', N'facu@gmail.com', N'3513872138', 1, 1, N'20421063078', 0)
INSERT [dbo].[Cliente_Proveedor] ([id_Cliente_Proveedor], [nombre], [apellido], [razon_Social], [email], [telefono], [cod_Barrio], [id_Tipo], [CUIL_CUIT], [borrado]) VALUES (116, N'Nicolas', N'Mingorance', N'Agronegocios S.A', N'nico@gmail.com', N'3512456363', 2, 1, N'20422591819', 0)
INSERT [dbo].[Cliente_Proveedor] ([id_Cliente_Proveedor], [nombre], [apellido], [razon_Social], [email], [telefono], [cod_Barrio], [id_Tipo], [CUIL_CUIT], [borrado]) VALUES (117, N'Neuen', N'Actis', N'Agronegocios S.A', N'neuen@gmail.com', N'3513861578', 1, 1, N'20421065558', 0)
SET IDENTITY_INSERT [dbo].[Cliente_Proveedor] OFF
GO
INSERT [dbo].[Detalles_de_Facturas] ([id_Semilla], [tipo_Factura], [numero_Factura], [fecha_Entrega], [precio_Venta], [cantidad], [subtotal]) VALUES (43, N'A', 17, NULL, CAST(150.00 AS Decimal(15, 2)), CAST(10.0000 AS Decimal(14, 4)), CAST(1500.00 AS Decimal(15, 2)))
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([cod_Empleado], [nombre], [apellido], [email], [fecha_Alta], [cod_barrio], [calle], [fecha_nacimiento], [tipo_Empleado], [contraseña], [usuario], [borrado], [telefono], [numero_casa]) VALUES (6, N'Cesar', N'Altamirano', N'cesar@gmail.com', CAST(N'2010-05-02' AS Date), 1, N'AV. Colon', CAST(N'2000-03-22' AS Date), 2, N'Cesar001', N'CAltamir', 0, N'1235468648', N'1234')
INSERT [dbo].[Empleados] ([cod_Empleado], [nombre], [apellido], [email], [fecha_Alta], [cod_barrio], [calle], [fecha_nacimiento], [tipo_Empleado], [contraseña], [usuario], [borrado], [telefono], [numero_casa]) VALUES (7, N'Neuen', N'Actis', N'neuen@gmail.com', CAST(N'2010-04-22' AS Date), 2, N'9 de Julio', CAST(N'2000-04-14' AS Date), 2, N'neuen002', N'NActis00', 0, N'351465789164', N'3541')
INSERT [dbo].[Empleados] ([cod_Empleado], [nombre], [apellido], [email], [fecha_Alta], [cod_barrio], [calle], [fecha_nacimiento], [tipo_Empleado], [contraseña], [usuario], [borrado], [telefono], [numero_casa]) VALUES (8, N'Administrador', N'Administrador', N'admin@admin', CAST(N'1999-04-01' AS Date), 2, N'X', CAST(N'1999-09-09' AS Date), 1, N'12345678', N'admin', 0, N'X', N'X')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([tipo_Factura], [numero], [fecha_Factura], [total], [cod_Empleado], [id_cliente_Proveedor]) VALUES (N'A', 17, CAST(N'2020-10-12' AS Date), CAST(1500.00 AS Decimal(15, 2)), 8, 116)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Forma_PagoXfactura] ON 

INSERT [dbo].[Forma_PagoXfactura] ([id_Forma_Pago], [tipo_Factura], [numero_Factura], [monto], [dias_de_Plazo], [id_FormaPagoXfactura]) VALUES (1, N'A', 17, CAST(700.00 AS Decimal(15, 2)), 0, 1)
INSERT [dbo].[Forma_PagoXfactura] ([id_Forma_Pago], [tipo_Factura], [numero_Factura], [monto], [dias_de_Plazo], [id_FormaPagoXfactura]) VALUES (1, N'A', 17, CAST(800.00 AS Decimal(15, 2)), 0, 2)
SET IDENTITY_INSERT [dbo].[Forma_PagoXfactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Formas_Pagos] ON 

INSERT [dbo].[Formas_Pagos] ([id_Pago], [nombre], [descripcion]) VALUES (1, N'Efectivo', N'Pago mediante moneda local')
INSERT [dbo].[Formas_Pagos] ([id_Pago], [nombre], [descripcion]) VALUES (2, N'Cheque', N'Pago mediante cheque emitido por un banco')
SET IDENTITY_INSERT [dbo].[Formas_Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([id_Localidad], [nombre], [id_Provincia]) VALUES (1, N'Cordoba', 1)
INSERT [dbo].[Localidad] ([id_Localidad], [nombre], [id_Provincia]) VALUES (2, N'Cruz del Eje', 1)
INSERT [dbo].[Localidad] ([id_Localidad], [nombre], [id_Provincia]) VALUES (3, N'Rio Segundo', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id_Provincia], [nombre]) VALUES (1, N'Cordoba')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre]) VALUES (2, N'Buenos Aires')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre]) VALUES (3, N'Santa Fe')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[Semilla] ON 

INSERT [dbo].[Semilla] ([id_Semilla], [nombre], [stock_Minimo], [stock], [precio_Tonelada], [descripcion], [habilitado], [borrado]) VALUES (29, N'Soja', CAST(3000.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), CAST(3055.000 AS Decimal(15, 3)), N'Cosecha 2020', N'si', 0)
INSERT [dbo].[Semilla] ([id_Semilla], [nombre], [stock_Minimo], [stock], [precio_Tonelada], [descripcion], [habilitado], [borrado]) VALUES (30, N'Soja', CAST(299.00 AS Decimal(10, 2)), CAST(99.00 AS Decimal(10, 2)), CAST(99.000 AS Decimal(15, 3)), N'Cosecha 2020 Julio', N'si', 1)
INSERT [dbo].[Semilla] ([id_Semilla], [nombre], [stock_Minimo], [stock], [precio_Tonelada], [descripcion], [habilitado], [borrado]) VALUES (31, N'Chia', CAST(770000.00 AS Decimal(10, 2)), CAST(33.00 AS Decimal(10, 2)), CAST(333.000 AS Decimal(15, 3)), N'Cosecha Agosto 2020', N'SI', 0)
SET IDENTITY_INSERT [dbo].[Semilla] OFF
GO
INSERT [dbo].[Tipo_Cliente_Proveedor] ([id_Tipo], [nombre]) VALUES (1, N'Cliente')
INSERT [dbo].[Tipo_Cliente_Proveedor] ([id_Tipo], [nombre]) VALUES (2, N'Proveedor')
GO
INSERT [dbo].[Tipo_Empleados] ([id_tipo_Empleado], [nombre]) VALUES (1, N'SuperUsuario')
INSERT [dbo].[Tipo_Empleados] ([id_tipo_Empleado], [nombre]) VALUES (2, N'Vendedor')
GO
SET IDENTITY_INSERT [dbo].[Tipo_Semilla] ON 

INSERT [dbo].[Tipo_Semilla] ([id_Tipo_Semilla], [nombre], [habilitado]) VALUES (23, N'Importada', N'si')
INSERT [dbo].[Tipo_Semilla] ([id_Tipo_Semilla], [nombre], [habilitado]) VALUES (24, N'Nacional', N'si')
INSERT [dbo].[Tipo_Semilla] ([id_Tipo_Semilla], [nombre], [habilitado]) VALUES (25, N'Victoria', N'si')
SET IDENTITY_INSERT [dbo].[Tipo_Semilla] OFF
GO
INSERT [dbo].[TiposXsemillas] ([id_Semilla], [id_Tipo_Semilla], [id_Calidad], [precio_sugerido]) VALUES (29, 23, 39, CAST(4000.000 AS Decimal(15, 3)))
INSERT [dbo].[TiposXsemillas] ([id_Semilla], [id_Tipo_Semilla], [id_Calidad], [precio_sugerido]) VALUES (30, 23, 40, CAST(30000.000 AS Decimal(15, 3)))
INSERT [dbo].[TiposXsemillas] ([id_Semilla], [id_Tipo_Semilla], [id_Calidad], [precio_sugerido]) VALUES (31, 25, 40, CAST(222.000 AS Decimal(15, 3)))
GO
/****** Object:  Index [IX_Calidad]    Script Date: 12/10/2020 19:56:14 ******/
ALTER TABLE [dbo].[Calidad] ADD  CONSTRAINT [IX_Calidad] UNIQUE NONCLUSTERED 
(
	[id_Calidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Semilla]    Script Date: 12/10/2020 19:56:14 ******/
CREATE NONCLUSTERED INDEX [IX_Semilla] ON [dbo].[Semilla]
(
	[id_Semilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calidad] ADD  CONSTRAINT [DF_Calidad_habilitado]  DEFAULT ('si') FOR [habilitado]
GO
ALTER TABLE [dbo].[Cliente_Proveedor] ADD  CONSTRAINT [borrado_act]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Empresa_Transporte] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Semilla] ADD  CONSTRAINT [DF_Semilla_habilitado]  DEFAULT ('si') FOR [habilitado]
GO
ALTER TABLE [dbo].[Semilla] ADD  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Tipo_Semilla] ADD  CONSTRAINT [DF_Tipo_Semilla_habilitado]  DEFAULT ('si') FOR [habilitado]
GO
ALTER TABLE [dbo].[Barrios]  WITH CHECK ADD  CONSTRAINT [FK_Barrios_Localidad] FOREIGN KEY([id_Localidad])
REFERENCES [dbo].[Localidad] ([id_Localidad])
GO
ALTER TABLE [dbo].[Barrios] CHECK CONSTRAINT [FK_Barrios_Localidad]
GO
ALTER TABLE [dbo].[Cliente_Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Proveedor_Barrios] FOREIGN KEY([cod_Barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Cliente_Proveedor] CHECK CONSTRAINT [FK_Cliente_Proveedor_Barrios]
GO
ALTER TABLE [dbo].[Cliente_Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Proveedor_Tipo_Cliente_Proveedor] FOREIGN KEY([id_Tipo])
REFERENCES [dbo].[Tipo_Cliente_Proveedor] ([id_Tipo])
GO
ALTER TABLE [dbo].[Cliente_Proveedor] CHECK CONSTRAINT [FK_Cliente_Proveedor_Tipo_Cliente_Proveedor]
GO
ALTER TABLE [dbo].[Detalles_de_Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_de_Facturas_Facturas] FOREIGN KEY([tipo_Factura], [numero_Factura])
REFERENCES [dbo].[Facturas] ([tipo_Factura], [numero])
GO
ALTER TABLE [dbo].[Detalles_de_Facturas] CHECK CONSTRAINT [FK_Detalles_de_Facturas_Facturas]
GO
ALTER TABLE [dbo].[Detalles_de_Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_de_Facturas_Semilla] FOREIGN KEY([id_Semilla])
REFERENCES [dbo].[Semilla] ([id_Semilla])
GO
ALTER TABLE [dbo].[Detalles_de_Facturas] CHECK CONSTRAINT [FK_Detalles_de_Facturas_Semilla]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Barrios] FOREIGN KEY([cod_barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Barrios]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Tipo_Empleados] FOREIGN KEY([tipo_Empleado])
REFERENCES [dbo].[Tipo_Empleados] ([id_tipo_Empleado])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Tipo_Empleados]
GO
ALTER TABLE [dbo].[Empresa_Transporte]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Transporte_Barrios] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Empresa_Transporte] CHECK CONSTRAINT [FK_Empresa_Transporte_Barrios]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Barrios] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Barrios]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Empresa_Transporte] FOREIGN KEY([id_Empresa_Transporte])
REFERENCES [dbo].[Empresa_Transporte] ([id_Empresa])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Empresa_Transporte]
GO
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Facturas] FOREIGN KEY([tipo_Factura], [id_Factura])
REFERENCES [dbo].[Facturas] ([tipo_Factura], [numero])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Facturas]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Empleados1] FOREIGN KEY([cod_Empleado])
REFERENCES [dbo].[Empleados] ([cod_Empleado])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Empleados1]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Tipo_Cliente_Proveedor] FOREIGN KEY([id_cliente_Proveedor])
REFERENCES [dbo].[Cliente_Proveedor] ([id_Cliente_Proveedor])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Tipo_Cliente_Proveedor]
GO
ALTER TABLE [dbo].[Forma_PagoXfactura]  WITH CHECK ADD  CONSTRAINT [FK_Forma_PagoXfactura_Facturas] FOREIGN KEY([tipo_Factura], [numero_Factura])
REFERENCES [dbo].[Facturas] ([tipo_Factura], [numero])
GO
ALTER TABLE [dbo].[Forma_PagoXfactura] CHECK CONSTRAINT [FK_Forma_PagoXfactura_Facturas]
GO
ALTER TABLE [dbo].[Forma_PagoXfactura]  WITH CHECK ADD  CONSTRAINT [FK_Forma_PagoXfactura_Formas_Pagos] FOREIGN KEY([id_Forma_Pago])
REFERENCES [dbo].[Formas_Pagos] ([id_Pago])
GO
ALTER TABLE [dbo].[Forma_PagoXfactura] CHECK CONSTRAINT [FK_Forma_PagoXfactura_Formas_Pagos]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[TiposXsemillas]  WITH CHECK ADD  CONSTRAINT [FK_TiposXsemillas_Calidad] FOREIGN KEY([id_Calidad])
REFERENCES [dbo].[Calidad] ([id_Calidad])
GO
ALTER TABLE [dbo].[TiposXsemillas] CHECK CONSTRAINT [FK_TiposXsemillas_Calidad]
GO
ALTER TABLE [dbo].[TiposXsemillas]  WITH CHECK ADD  CONSTRAINT [FK_TiposXsemillas_Semilla] FOREIGN KEY([id_Semilla])
REFERENCES [dbo].[Semilla] ([id_Semilla])
GO
ALTER TABLE [dbo].[TiposXsemillas] CHECK CONSTRAINT [FK_TiposXsemillas_Semilla]
GO
ALTER TABLE [dbo].[TiposXsemillas]  WITH CHECK ADD  CONSTRAINT [FK_TiposXsemillas_Tipo_Semilla] FOREIGN KEY([id_Tipo_Semilla])
REFERENCES [dbo].[Tipo_Semilla] ([id_Tipo_Semilla])
GO
ALTER TABLE [dbo].[TiposXsemillas] CHECK CONSTRAINT [FK_TiposXsemillas_Tipo_Semilla]
GO
USE [master]
GO
