USE [AgroNegocios_ultimate]
GO
/****** Object:  Database [AgroNegocos_ElAmanecer]    Script Date: 06/10/2019 11:29:07 ******/
CREATE DATABASE [AgroNegocos_ElAmanecer34] 

/****** Object:  Table [dbo].[Provincia]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_Provincia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON
INSERT [dbo].[Provincia] ([id_Provincia], [nombre]) VALUES (1, N'Cordoba')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre]) VALUES (2, N'Buenos Aire')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre]) VALUES (3, N'Santa Fe')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
/****** Object:  Table [dbo].[Tipo_Semilla]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Semilla](
	[id_Tipo_Semilla] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[habilitado] [varchar](2) NULL,
 CONSTRAINT [PK_Tipo_Semilla] PRIMARY KEY CLUSTERED 
(
	[id_Tipo_Semilla] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Semilla] ON
INSERT [dbo].[Tipo_Semilla] ([id_Tipo_Semilla], [nombre], [habilitado]) VALUES (23, N'Importada', N'si')
INSERT [dbo].[Tipo_Semilla] ([id_Tipo_Semilla], [nombre], [habilitado]) VALUES (24, N'Nacional', N'si')
INSERT [dbo].[Tipo_Semilla] ([id_Tipo_Semilla], [nombre], [habilitado]) VALUES (25, N'Victoria', N'si')
SET IDENTITY_INSERT [dbo].[Tipo_Semilla] OFF
/****** Object:  Table [dbo].[Tipo_Empleados]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Empleados](
	[id_tipo_Empleado] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo_Empleados] PRIMARY KEY CLUSTERED 
(
	[id_tipo_Empleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tipo_Empleados] ([id_tipo_Empleado], [nombre]) VALUES (1, N'SuperUsuario')
INSERT [dbo].[Tipo_Empleados] ([id_tipo_Empleado], [nombre]) VALUES (2, N'Vendedor')
/****** Object:  Table [dbo].[Tipo_Cliente_Proveedor]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Cliente_Proveedor](
	[id_Tipo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo_Cliente_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id_Tipo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tipo_Cliente_Proveedor] ([id_Tipo], [nombre]) VALUES (1, N'Cliente')
INSERT [dbo].[Tipo_Cliente_Proveedor] ([id_Tipo], [nombre]) VALUES (2, N'Proveedor')
/****** Object:  Table [dbo].[Formas_Pagos]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Formas_Pagos](
	[id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Formas_Pagos] PRIMARY KEY CLUSTERED 
(
	[id_Pago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Calidad]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Calidad](
	[id_Calidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[id_Tipo_Semilla] [int] NULL,
	[habilitado] [varchar](2) NULL,
 CONSTRAINT [PK_Calidad] PRIMARY KEY CLUSTERED 
(
	[id_Calidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Calidad] UNIQUE NONCLUSTERED 
(
	[id_Calidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Calidad] ON
INSERT [dbo].[Calidad] ([id_Calidad], [nombre], [id_Tipo_Semilla], [habilitado]) VALUES (39, N'Excelente', NULL, N'si')
INSERT [dbo].[Calidad] ([id_Calidad], [nombre], [id_Tipo_Semilla], [habilitado]) VALUES (40, N'Muy Bueno', NULL, N'si')
INSERT [dbo].[Calidad] ([id_Calidad], [nombre], [id_Tipo_Semilla], [habilitado]) VALUES (41, N'Malo', NULL, N'si')
SET IDENTITY_INSERT [dbo].[Calidad] OFF
/****** Object:  Table [dbo].[Semilla]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semilla](
	[id_Semilla] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[stock_Minimo] [decimal](10, 2) NULL,
	[stock] [decimal](10, 2) NULL,
	[precio_Tonelada] [decimal](15, 3) NULL,
	[tipo_Semilla] [int] NULL,
	[descripcion] [varchar](100) NULL,
	[habilitado] [varchar](2) NULL,
 CONSTRAINT [PK_Semilla] PRIMARY KEY CLUSTERED 
(
	[id_Semilla] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_Semilla] ON [dbo].[Semilla] 
(
	[id_Semilla] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Semilla] ON
INSERT [dbo].[Semilla] ([id_Semilla], [nombre], [stock_Minimo], [stock], [precio_Tonelada], [tipo_Semilla], [descripcion], [habilitado]) VALUES (29, N'Soja', CAST(3000.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), CAST(3055.000 AS Decimal(15, 3)), NULL, N'que', N'si')
INSERT [dbo].[Semilla] ([id_Semilla], [nombre], [stock_Minimo], [stock], [precio_Tonelada], [tipo_Semilla], [descripcion], [habilitado]) VALUES (30, N'Soja', CAST(299.00 AS Decimal(10, 2)), CAST(99.00 AS Decimal(10, 2)), CAST(99.000 AS Decimal(15, 3)), NULL, N'otra', N'si')
INSERT [dbo].[Semilla] ([id_Semilla], [nombre], [stock_Minimo], [stock], [precio_Tonelada], [tipo_Semilla], [descripcion], [habilitado]) VALUES (31, N'Soja', CAST(770000.00 AS Decimal(10, 2)), CAST(33.00 AS Decimal(10, 2)), CAST(333.000 AS Decimal(15, 3)), NULL, N'55', N'SI')
SET IDENTITY_INSERT [dbo].[Semilla] OFF
/****** Object:  Table [dbo].[Localidad]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_Localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[id_Provincia] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id_Localidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON
INSERT [dbo].[Localidad] ([id_Localidad], [nombre], [id_Provincia]) VALUES (1, N'CordobA', 1)
INSERT [dbo].[Localidad] ([id_Localidad], [nombre], [id_Provincia]) VALUES (2, N'Huinca R.', 1)
INSERT [dbo].[Localidad] ([id_Localidad], [nombre], [id_Provincia]) VALUES (3, N'Nono', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
/****** Object:  Table [dbo].[TiposXsemillas]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposXsemillas](
	[id_Semilla] [int] NOT NULL,
	[id_Tipo_Semilla] [int] NOT NULL,
	[id_Calidad] [int] NOT NULL,
	[precio_sugerido] [decimal](15, 3) NULL,
 CONSTRAINT [PK_TiposXsemillas] PRIMARY KEY CLUSTERED 
(
	[id_Semilla] ASC,
	[id_Tipo_Semilla] ASC,
	[id_Calidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TiposXsemillas] ([id_Semilla], [id_Tipo_Semilla], [id_Calidad], [precio_sugerido]) VALUES (29, 23, 39, CAST(4000.000 AS Decimal(15, 3)))
INSERT [dbo].[TiposXsemillas] ([id_Semilla], [id_Tipo_Semilla], [id_Calidad], [precio_sugerido]) VALUES (30, 23, 40, CAST(30000.000 AS Decimal(15, 3)))
INSERT [dbo].[TiposXsemillas] ([id_Semilla], [id_Tipo_Semilla], [id_Calidad], [precio_sugerido]) VALUES (31, 25, 40, CAST(222.000 AS Decimal(15, 3)))
/****** Object:  Table [dbo].[Barrios]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barrios](
	[id_Barrio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[cod_Postal] [varchar](50) NULL,
	[id_Localidad] [int] NULL,
 CONSTRAINT [PK_Barrios] PRIMARY KEY CLUSTERED 
(
	[id_Barrio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Barrios] ON
INSERT [dbo].[Barrios] ([id_Barrio], [nombre], [cod_Postal], [id_Localidad]) VALUES (1, N'Colon', N'5000', 1)
INSERT [dbo].[Barrios] ([id_Barrio], [nombre], [cod_Postal], [id_Localidad]) VALUES (2, N'Alberdi', N'5000', 1)
INSERT [dbo].[Barrios] ([id_Barrio], [nombre], [cod_Postal], [id_Localidad]) VALUES (3, N'Centro', N'6270', 1)
SET IDENTITY_INSERT [dbo].[Barrios] OFF
/****** Object:  Table [dbo].[Empresa_Transporte]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa_Transporte](
	[id_Empresa] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[razon_social] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[id_barrio] [int] NULL,
 CONSTRAINT [PK_Empresa_Transporte] PRIMARY KEY CLUSTERED 
(
	[id_Empresa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleados](
	[cod_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[telefono] [int] NULL,
	[fecha_Alta] [date] NULL,
	[cod_barrio] [int] NULL,
	[calle] [varchar](50) NULL,
	[numero_casa] [int] NULL,
	[fecha_nacimiento] [date] NULL,
	[tipo_Empleado] [int] NULL,
	[contraseña] [nchar](8) NULL,
	[usuario] [varchar](8) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[cod_Empleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON
INSERT [dbo].[Empleados] ([cod_Empleado], [nombre], [apellido], [email], [telefono], [fecha_Alta], [cod_barrio], [calle], [numero_casa], [fecha_nacimiento], [tipo_Empleado], [contraseña], [usuario]) VALUES (6, N'Cesar', N'Altamirano', N'cesar@gmail.com', 1122334455, CAST(0xC5320B00 AS Date), 1, N'AV. Colon', 222, CAST(0x58240B00 AS Date), 1, N'Cesar001', N'CAltamir')
INSERT [dbo].[Empleados] ([cod_Empleado], [nombre], [apellido], [email], [telefono], [fecha_Alta], [cod_barrio], [calle], [numero_casa], [fecha_nacimiento], [tipo_Empleado], [contraseña], [usuario]) VALUES (7, N'Neuen', N'Actis', N'neuen@gmail.com', 22334455, CAST(0xBB320B00 AS Date), 2, N'9 de julio', 333, CAST(0x6F240B00 AS Date), 2, N'neuen002', N'NActis00')
INSERT [dbo].[Empleados] ([cod_Empleado], [nombre], [apellido], [email], [telefono], [fecha_Alta], [cod_barrio], [calle], [numero_casa], [fecha_nacimiento], [tipo_Empleado], [contraseña], [usuario]) VALUES (8, N'Administrador', N'Administrador', N'admin@admin', 0, CAST(0xF4220B00 AS Date), 2, N'sd', 0, CAST(0x95230B00 AS Date), 1, N'admin000', N'admin000')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
/****** Object:  Table [dbo].[Cliente_Proveedor]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente_Proveedor](
	[id_Ciente_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[razon_Social] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[cod_Barrio] [int] NULL,
	[id_Tipo] [int] NULL,
	[CUIL_CUIT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id_Ciente_Proveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente_Proveedor] ON
INSERT [dbo].[Cliente_Proveedor] ([id_Ciente_Proveedor], [nombre], [apellido], [razon_Social], [email], [telefono], [cod_Barrio], [id_Tipo], [CUIL_CUIT]) VALUES (1, N'Lola', N'Street', NULL, N'lola@gmail.com', N'4448888', 1, 1, N'12345678')
INSERT [dbo].[Cliente_Proveedor] ([id_Ciente_Proveedor], [nombre], [apellido], [razon_Social], [email], [telefono], [cod_Barrio], [id_Tipo], [CUIL_CUIT]) VALUES (8, N'Huessi', N'Street', N'Huessi.SA', N'huessi@hotmail.com', N'333-778-', 3, 2, N'2345678')
INSERT [dbo].[Cliente_Proveedor] ([id_Ciente_Proveedor], [nombre], [apellido], [razon_Social], [email], [telefono], [cod_Barrio], [id_Tipo], [CUIL_CUIT]) VALUES (12, N'cani', N'street', N'N/N', N'cani@hotmail.com', N'91287', 2, NULL, N'12345')
SET IDENTITY_INSERT [dbo].[Cliente_Proveedor] OFF
/****** Object:  Table [dbo].[Facturas]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facturas](
	[tipo_Factura] [char](1) NOT NULL,
	[numero] [int] IDENTITY(1,1) NOT NULL,
	[fecha_Factura] [date] NULL,
	[total] [decimal](15, 2) NULL,
	[cod_Empleado] [int] NULL,
	[id_cliente_Proveedor] [int] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[tipo_Factura] ASC,
	[numero] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Forma_PagoXfactura]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Forma_PagoXfactura](
	[id_Forma_Pago] [int] IDENTITY(1,1) NOT NULL,
	[tipo_Factura] [char](1) NOT NULL,
	[numero_Factura] [int] NOT NULL,
	[monto] [decimal](15, 2) NULL,
	[dias_de_Plazo] [int] NULL,
 CONSTRAINT [PK_Forma_PagoXfactura] PRIMARY KEY CLUSTERED 
(
	[id_Forma_Pago] ASC,
	[tipo_Factura] ASC,
	[numero_Factura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Envios](
	[id_Factura] [int] NOT NULL,
	[tipo_Factura] [char](1) NOT NULL,
	[nro_envio] [int] IDENTITY(1,1) NOT NULL,
	[fecha_Hora_envio] [date] NULL,
	[id_Empresa_Transporte] [int] NULL,
	[direccion] [varchar](50) NULL,
	[id_barrio] [int] NULL,
 CONSTRAINT [PK_Envios] PRIMARY KEY CLUSTERED 
(
	[nro_envio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detalles_de_Facturas]    Script Date: 06/10/2019 11:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detalles_de_Facturas](
	[id_Semilla] [int] NOT NULL,
	[tipo_Factura] [char](1) NOT NULL,
	[numero_Factura] [int] NOT NULL,
	[fecha_Entrega] [date] NULL,
	[precio_Venra] [decimal](15, 2) NULL,
	[cantidad] [decimal](14, 4) NULL,
 CONSTRAINT [PK_Detalles_de_Facturas] PRIMARY KEY CLUSTERED 
(
	[id_Semilla] ASC,
	[tipo_Factura] ASC,
	[numero_Factura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Tipo_Semilla_habilitado]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Tipo_Semilla] ADD  CONSTRAINT [DF_Tipo_Semilla_habilitado]  DEFAULT ('si') FOR [habilitado]
GO
/****** Object:  Default [DF_Calidad_habilitado]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Calidad] ADD  CONSTRAINT [DF_Calidad_habilitado]  DEFAULT ('si') FOR [habilitado]
GO
/****** Object:  Default [DF_Semilla_habilitado]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Semilla] ADD  CONSTRAINT [DF_Semilla_habilitado]  DEFAULT ('si') FOR [habilitado]
GO
/****** Object:  ForeignKey [FK_Calidad_Tipo_Semilla]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Calidad]  WITH CHECK ADD  CONSTRAINT [FK_Calidad_Tipo_Semilla] FOREIGN KEY([id_Tipo_Semilla])
REFERENCES [dbo].[Tipo_Semilla] ([id_Tipo_Semilla])
GO
ALTER TABLE [dbo].[Calidad] CHECK CONSTRAINT [FK_Calidad_Tipo_Semilla]
GO
/****** Object:  ForeignKey [FK_Semilla_Tipo_Semilla1]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Semilla]  WITH CHECK ADD  CONSTRAINT [FK_Semilla_Tipo_Semilla1] FOREIGN KEY([tipo_Semilla])
REFERENCES [dbo].[Tipo_Semilla] ([id_Tipo_Semilla])
GO
ALTER TABLE [dbo].[Semilla] CHECK CONSTRAINT [FK_Semilla_Tipo_Semilla1]
GO
/****** Object:  ForeignKey [FK_Localidad_Provincia]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
/****** Object:  ForeignKey [FK_TiposXsemillas_Calidad]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[TiposXsemillas]  WITH CHECK ADD  CONSTRAINT [FK_TiposXsemillas_Calidad] FOREIGN KEY([id_Calidad])
REFERENCES [dbo].[Calidad] ([id_Calidad])
GO
ALTER TABLE [dbo].[TiposXsemillas] CHECK CONSTRAINT [FK_TiposXsemillas_Calidad]
GO
/****** Object:  ForeignKey [FK_TiposXsemillas_Semilla]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[TiposXsemillas]  WITH CHECK ADD  CONSTRAINT [FK_TiposXsemillas_Semilla] FOREIGN KEY([id_Semilla])
REFERENCES [dbo].[Semilla] ([id_Semilla])
GO
ALTER TABLE [dbo].[TiposXsemillas] CHECK CONSTRAINT [FK_TiposXsemillas_Semilla]
GO
/****** Object:  ForeignKey [FK_TiposXsemillas_Tipo_Semilla]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[TiposXsemillas]  WITH CHECK ADD  CONSTRAINT [FK_TiposXsemillas_Tipo_Semilla] FOREIGN KEY([id_Tipo_Semilla])
REFERENCES [dbo].[Tipo_Semilla] ([id_Tipo_Semilla])
GO
ALTER TABLE [dbo].[TiposXsemillas] CHECK CONSTRAINT [FK_TiposXsemillas_Tipo_Semilla]
GO
/****** Object:  ForeignKey [FK_Barrios_Localidad]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Barrios]  WITH CHECK ADD  CONSTRAINT [FK_Barrios_Localidad] FOREIGN KEY([id_Localidad])
REFERENCES [dbo].[Localidad] ([id_Localidad])
GO
ALTER TABLE [dbo].[Barrios] CHECK CONSTRAINT [FK_Barrios_Localidad]
GO
/****** Object:  ForeignKey [FK_Empresa_Transporte_Barrios]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Empresa_Transporte]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Transporte_Barrios] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Empresa_Transporte] CHECK CONSTRAINT [FK_Empresa_Transporte_Barrios]
GO
/****** Object:  ForeignKey [FK_Empleados_Barrios]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Barrios] FOREIGN KEY([cod_barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Barrios]
GO
/****** Object:  ForeignKey [FK_Empleados_Tipo_Empleados]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Tipo_Empleados] FOREIGN KEY([tipo_Empleado])
REFERENCES [dbo].[Tipo_Empleados] ([id_tipo_Empleado])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Tipo_Empleados]
GO
/****** Object:  ForeignKey [FK_Cliente_Proveedor_Barrios]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Cliente_Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Proveedor_Barrios] FOREIGN KEY([cod_Barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Cliente_Proveedor] CHECK CONSTRAINT [FK_Cliente_Proveedor_Barrios]
GO
/****** Object:  ForeignKey [FK_Cliente_Proveedor_Tipo_Cliente_Proveedor]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Cliente_Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Proveedor_Tipo_Cliente_Proveedor] FOREIGN KEY([id_Tipo])
REFERENCES [dbo].[Tipo_Cliente_Proveedor] ([id_Tipo])
GO
ALTER TABLE [dbo].[Cliente_Proveedor] CHECK CONSTRAINT [FK_Cliente_Proveedor_Tipo_Cliente_Proveedor]
GO
/****** Object:  ForeignKey [FK_Facturas_Empleados1]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Empleados1] FOREIGN KEY([cod_Empleado])
REFERENCES [dbo].[Empleados] ([cod_Empleado])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Empleados1]
GO
/****** Object:  ForeignKey [FK_Facturas_Tipo_Cliente_Proveedor]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Tipo_Cliente_Proveedor] FOREIGN KEY([id_cliente_Proveedor])
REFERENCES [dbo].[Cliente_Proveedor] ([id_Ciente_Proveedor])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Tipo_Cliente_Proveedor]
GO
/****** Object:  ForeignKey [FK_Forma_PagoXfactura_Facturas]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Forma_PagoXfactura]  WITH CHECK ADD  CONSTRAINT [FK_Forma_PagoXfactura_Facturas] FOREIGN KEY([tipo_Factura], [numero_Factura])
REFERENCES [dbo].[Facturas] ([tipo_Factura], [numero])
GO
ALTER TABLE [dbo].[Forma_PagoXfactura] CHECK CONSTRAINT [FK_Forma_PagoXfactura_Facturas]
GO
/****** Object:  ForeignKey [FK_Forma_PagoXfactura_Formas_Pagos]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Forma_PagoXfactura]  WITH CHECK ADD  CONSTRAINT [FK_Forma_PagoXfactura_Formas_Pagos] FOREIGN KEY([id_Forma_Pago])
REFERENCES [dbo].[Formas_Pagos] ([id_Pago])
GO
ALTER TABLE [dbo].[Forma_PagoXfactura] CHECK CONSTRAINT [FK_Forma_PagoXfactura_Formas_Pagos]
GO
/****** Object:  ForeignKey [FK_Envios_Barrios]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Barrios] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_Barrio])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Barrios]
GO
/****** Object:  ForeignKey [FK_Envios_Empresa_Transporte]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Empresa_Transporte] FOREIGN KEY([id_Empresa_Transporte])
REFERENCES [dbo].[Empresa_Transporte] ([id_Empresa])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Empresa_Transporte]
GO
/****** Object:  ForeignKey [FK_Envios_Facturas]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Envios]  WITH CHECK ADD  CONSTRAINT [FK_Envios_Facturas] FOREIGN KEY([tipo_Factura], [id_Factura])
REFERENCES [dbo].[Facturas] ([tipo_Factura], [numero])
GO
ALTER TABLE [dbo].[Envios] CHECK CONSTRAINT [FK_Envios_Facturas]
GO
/****** Object:  ForeignKey [FK_Detalles_de_Facturas_Facturas]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Detalles_de_Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_de_Facturas_Facturas] FOREIGN KEY([tipo_Factura], [numero_Factura])
REFERENCES [dbo].[Facturas] ([tipo_Factura], [numero])
GO
ALTER TABLE [dbo].[Detalles_de_Facturas] CHECK CONSTRAINT [FK_Detalles_de_Facturas_Facturas]
GO
/****** Object:  ForeignKey [FK_Detalles_de_Facturas_Semilla]    Script Date: 06/10/2019 11:29:07 ******/
ALTER TABLE [dbo].[Detalles_de_Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_de_Facturas_Semilla] FOREIGN KEY([id_Semilla])
REFERENCES [dbo].[Semilla] ([id_Semilla])
GO
ALTER TABLE [dbo].[Detalles_de_Facturas] CHECK CONSTRAINT [FK_Detalles_de_Facturas_Semilla]
GO
